# OS
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Secrets & Config
application.properties
application-*.properties
serviceAccountKey.json
ServiceAccounts.json
*serviceAccountKey*.json
*ServiceAccounts*.json
*.json
!package.json
!composer.json
!tsconfig.json
!firebase.json
